@model WebApplication1.ViewModels.EditUserViewModel

<partial name="SideBArPartial" />
<div class="main">
    @if (User.Identity.Name.Equals(ViewData["UserName"]))
    {
        <h1>Редактировать профиль</h1>
    }
    else
    {
        <h1>Редактировать профиль @ViewData["UserName"]</h1>
    }
    <div class="row">
        <div class="col-md-4">

            <form asp-action="EditProfile" asp-controller="Account" asp-route-id="@ViewData["UserName"]">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="hidden" asp-for="UserId" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    @if (User.IsInRole("admin"))
    {
    <h1>Изменение ролей пользователя</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditRoles" asp-controller="Account" method="post">
                <input type="hidden" name="Name" value="@Model.Name" />
                <input type="hidden" name="UserId" value="@Model.UserId" />
                <div class="form-group">
                    @foreach (var role in Model.AllRoles)
                    {
                        <input type="checkbox" name="roles" value="@role.Name"
                               @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                    }
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
    }
</div>