<div class="sidenav">
    @if (Url.Action().Contains("Companies"))
    {
        <a class="active-button" asp-controller="Account" asp-action="Companies" asp-route-id="@ViewData["UserName"]" >Компании</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Companies" asp-route-id="@ViewData["UserName"]">Компании</a>
    }
    @if (Url.Action().Contains("Bonuses"))
    {
        <a class="active-button" asp-controller="Account" asp-action="Bonuses" asp-route-id="@ViewData["UserName"]">Бонусы</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Bonuses" asp-route-id="@ViewData["UserName"]">Бонусы</a>
    }
    @if (Url.Action().Contains("EditProfile"))
    {
        <a class="active-button" asp-controller="Account" asp-action="EditProfile" asp-route-id="@ViewData["UserName"]">Профиль</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="EditProfile" asp-route-id="@ViewData["UserName"]">Профиль</a>
    }
</div>