@model WebApplication1.Models.Company

@{
    ViewData["Title"] = Model.Name;
}
<h1 style="text-align: center">@Model.Name</h1>
<div class="container">
    <div class="row">
        <div class="col-5">
            <img src="@Model.Foto" class="img-fluid" alt="Responsive image" style="width:100%" />
        </div>
        <div class="col-7">
            <p>Конец: @Model.Deadline.ToShortDateString() (@((Model.Deadline.Date - DateTime.Now.Date).TotalDays) осталось дней)</p>
            Собрано @Model.CollectedAmount из @Model.TargetAmount
            <div class="progress" style="width: 50%">
                <div class="progress-bar" role="progressbar" style="width: @(100*Model.CollectedAmount/Model.TargetAmount)%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>


<div > 
    @Html.Raw(Model.Description) 
</div>


<a asp-controller="Company" asp-action="AddNews" asp-route-companyName="@(Model.Name)" class="btn btn-primary">Add news</a>





@foreach (var news in Model.News)
{
    @await Html.PartialAsync("News", news);
}